/*Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    font-family: "Monsterrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#eeebd3;
    --secondary-color: #aa767c;
    --button-color: #77b6ea;
    --error-color: #ff6b6b;
    --text-color: #0d1821;
    --fill-color: lightgray;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic proj styles*/
    color: var(--text-color);
    background-color: var(--primary-color);
}

/* Main Content*/ 
main {
    background-color: aqua;
    /*Make main element take up all space and push the footer down*/
    flex: 1 0 auto;
}
.container1 {
    
    width: 80%;
    margin: 240px auto;
    background-color: #fff;
    box-shadow: 0 12px 50px -11px var(--text-color);
    border-radius: 8px;
    color: var(--text-color); 
}

.top {
    background-color: #aa767c;
    padding: 24px;
    text-align: center;
}

.container2 {display: grid;
    display: flex;
    gap: 10px;
}

.item {
    flex: 1; /* Fördelar utrymmet jämnt */
    background: #fff;
    padding: 20px;
    text-align: center;
}
label {
    width: 170px;
    height: 20;
}
.right {

}


/*Footer*/
footer {
    background-color: var(--secondary-color);
}


