/*Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    font-family: "Monsterrat", sans-serif;
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}
h3 {
    margin: 20px auto;
    text-align: center;
}
:root {
    --primary-color:#eeebd3;
    --secondary-color: #aa767c;
    --button-color: #77b6ea;
    --error-color: #ff6b6b;
    --text-color: #0d1821;
    --fill-color: lightgray;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic proj styles*/
    color: var(--text-color);
    background-color: var(--primary-color);
}

/* Main Content*/ 
main {
    background-color: var(--primary-color);
}
.container {
    width: 80%;
    margin: 140px auto;
    background-color: #fff;
    box-shadow: 0 12px 50px -11px var(--text-color);
    border-radius: 8px;
    color: var(--text-color); 
}

.top {
    background-color: #aa767c;
    padding: 24px;
    text-align: center;
    width: 100%;
}

.container2 {
    display: flex;
    flex: 100%;    
    margin: auto;
}

.left-column, .right-column {
    display: flex;
    flex: 50%;
    padding: 9px;
    background: white;
    border-radius: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
}
.slider-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
}
.slider { 
    width: 250px;
    position: relative;
 }

input [type="range"] {
    margin: 0 10px;
    width: 400px;
    height: 8px;
    background: #c1c1c1;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position: absolute;
} 
 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
  
input[type="text"] {
    width: 100px;
    text-align: right;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    background: #f9f9f9;
}
.result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
    align-items: center;
}

#calculate-btn {
    order: 1;
    align-self: center;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--button-color);
}

#reset-btn {
    order: 1;
    align-self: center;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--button-color);
}

/*Hover effects for button*/
#calculate-btn:hover {
background-color: #aa767c;
color: #000;
transform: scale(1.1);
}

/* Responsiv layout for mobile*/
@media (max-width: 900px) {
    .container2{
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 90%;
        margin-top: 20px;
    }
    .slider {
        width: 250px;
        align-self: center;
        position: relative;
    }
}

@media (max-width: 500px) {
    .container2{
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 90%;
        margin-top: 20px;
    }
    .slider {
        width: 90px;
        align-self: center;
        position: relative;
    }
}


