/*Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    font-family: "Monsterrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#eeebd3;
    --secondary-color: #aa767c;
    --button-color: #77b6ea;
    --error-color: #ff6b6b;
    --text-color: #0d1821;
    --fill-color: lightgray;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic proj styles*/
    color: var(--text-color);
    background-color: var(--primary-color);
}

/* Main Content*/ 
main {
    background-color: var(--primary-color);
    /*Make main element take up all space and push the footer down*/
    flex: 1 0 auto;
}
.container1 {
    width: 80%;
    margin: 240px auto;
    background-color: #fff;
    box-shadow: 0 12px 50px -11px var(--text-color);
    border-radius: 8px;
    color: var(--text-color); 
}

.top {
    background-color: #aa767c;
    padding: 24px;
    text-align: center;
}

.container2 {
    display: grid;
    display: flex;
    gap: 10px;
}

.item { 
    flex: 1; /* Fördelar utrymmet jämnt */
    background: #fff;
    padding: 20px;
    text-align: center;
}

.slidecontainer {
    padding: 5px 5px;
}



#output {
    border: 1px solid var(--text-color);
    align-items: end;
}

input [type="range"] {
    flex: 2;
    margin: 0 10px;
    /*-webkit-appearance: none;*/
    height: 8px;
    background: #c1c1c1;
    border-radius: 5px;
    outline: none;
} 
 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
  
input[type="text"] {
    width: 100px;
    text-align: right;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    background: #f9f9f9;
}
.btn {
    padding: 5px;
    margin: 10px;
}


/*Footer*/
footer {
    background-color: var(--secondary-color);
}


